*{
font-family: 'Monserrat', sans-serif;
color: #3c3f42;
}
.cm{
    font-size: .7em;
}
.navfontsize{
    font-size: .8em;
    font-weight: 700;
}
.shadow-mid{
    height: 60vh;
    font-size: 3em;
    font-weight: 700;   
}
.sct1{
}
.sct2{
    height: 50vh;
}
.verNav1{
    height: 45vh;
}
.bg-gray{
background-color: #E1E8E7;
}
.fs-7{
    font-size: .8em;
}
.fs-8{
    font-size: .7em;
}
.fs-q{
    font-family: 'Monserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 10em;
}
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
}
.parallax1{
    background: url('../img/col1.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 60vh;
}
.quoteImg{
    height: 15vh;
}
.plantel{
width: 250px;
}
.tw{
color: #fff;
}
/* RESET RULES 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

* {
  padding: 0;
  margin: 0;
}

/*
a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font: 16px/1.5 sans-serif;
}
*/

.btn-group {
  text-align: center;
}

.open-modal {
  font-weight: bold;
  background: var(--blue);
  color: var(--white);
  padding: 0.75rem 1.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}


/* MODAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: var(--lightgray);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .close-modal {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}
.header .navbar {
  background-color: transparent !important;
}
.himno{
    font-family: 'Monserrat', sans-serif;
    font-weight: 200;
}
.ues{
    height: 433px;
    background: url('../img/ues1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}
.bach{
    height: 433px;
    background: url('../img/bach1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}
.admisiones{
    background: url('../img/col1.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 60vh;
}
.aviso{
    height: 100vh;
}
.sliderContainer{
    z-index: 0;
}
