---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
---

<Layout>
  <main class="page">
    <section class="section muted" id="title-demo">
      <div
        class="container type-demo mx-auto flex jsustify-center items-center flex-col gap-6 py-12"
      >
        <Title tag="h1">
          <span>The world's most realistic & </span>
          <span class="block">expressive voice AI</span>
        </Title>

        <Title tag="h2" class="pt-5">
          <span>A text-to-speech system </span>
          <span class="block">that understands what it's saying</span>
        </Title>

        <Title tag="h3" class="pt-5">Introducing EVI 3</Title>

        <Title tag="h4" class="pt-5">
          <span>The world’s most realistic and instructible</span>
          <span class="block">speech-to-speech foundation model</span>
        </Title>

        <Title tag="h5" class="pt-5">
          <span
            >Voice AI models powered by emotional intelligence for creators,
            developers, and enterprises.</span
          >
          <span class="block"
            >Create audio books, podcasts, conversational agents and more.</span
          >
        </Title>

        <Title tag="h6" class="pt-5">
          <span
            >Integrate the most realistic AI voices into your media creation
            platform.</span
          >
          <span class="block"
            >Let your users access hundreads of high-quality voices instantly in
            over 11 languages for their audiobooks, podcasts, or videos</span
          >
        </Title>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
          tempore exercitationem excepturi quibusdam quos, minima esse
          asperiores neque et accusantium maxime assumenda impedit, quo libero!
          Dolorem, tenetur. Nesciunt, adipisci sunt! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Quasi, tempore exercitationem excepturi
          quibusdam quos, minima esse asperiores neque et accusantium maxime
          assumenda impedit, quo libero! Dolorem, tenetur. Nesciunt, adipisci
          sunt! Dolorem, tenetur. Nesciunt, adipisci sunt! Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Quasi, tempore exercitationem
          excepturi quibusdam quos, minima esse asperiores neque et accusantium
          maxime assumenda impedit, quo libero! Dolorem, tenetur. Nesciunt,
          adipisci sunt!
        </p>
      </div>
    </section>
  </main>
</Layout>
