---
import Title from "../components/Title.astro";
---
<footer class="w-full bg-linear-to-b from-[#F1EAFF] to-[#FFFFFF] text-gray-800">
    <div class="max-w-7xl mx-auto px-6 py-16 flex flex-col items-center">
        <div class="flex items-center space-x-3 mb-6">
            <img alt="" class="h-40"
                src="./logo.png" />
        </div>
        <Title tag="h5">•Honor •Disciplina •Trabajo</Title>
        <p class="text-center max-w-xl text-sm font-normal leading-relaxed">
           "Excelencia académica y disciplina para forjar a los líderes que Nuevo León y México necesitan."
        </p>
    </div>
    <div class="border-t border-slate-200">
        <div class="max-w-7xl mx-auto px-6 py-6 text-center text-sm font-normal">
            <a href="https://prebuiltui.com">codifika.mx</a> ©2025.
        </div>
    </div>
</footer>