---
import "../styles/global.css";
import { Font } from "astro:assets";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Colegio Militarizado</title>

    <!-- Google Sans Font -->
    <Font cssVariable="--font-google-sans" preload />
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>

<style>
  html {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
